@import "./variables.scss";

*, *::after, *::before{
    box-shadow: none;
    box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

.hide{
	display: none !important;
}

html{
	body {
		margin: 0;
		.page {
			&-header {
				background: transparent;
				height: 70px;
				display: flex;
				padding: .5rem 2rem;
				justify-content: space-between;
				align-items: center;
				font-size: 1.2rem;
				position: absolute;
				width: 100%;
				z-index: 10;
				transition: all .1s ease-out;
				.menu_toggle{
					display: none;
				}
				.logo-container {
					height: inherit;
					display: flex;
					justify-content: center;
					align-items: center;
					flex: 1;
					.logo{
						height: 70%;
					}
				}
				.navlist{
					display: flex;
					list-style: none;
					margin: 0;				
					padding: 0;
					flex: 6;
					justify-content: center;
				
					&-item{
						padding: 0 1.75rem;
						a{
							color: black;
							text-decoration: none;
							&:hover{
								cursor: pointer;
								color: $brand-blue;
							}
						}
					}
				}
				.action-buttons{
					display: flex;
					justify-content: center;
					align-items: center;
					flex: 1.5;
	
					.mode-changer{
						flex: 1;
						&-icon{
							display: flex;
							justify-content: center;

							svg{
								width: 50px;
								height: 50px;
								background: white;
								border-radius: 3rem;
								border: 1px solid #09acd9;
								cursor: pointer;
							}
							&.sun svg{
								filter: invert(1);
							}
						}
					}
				}
				.sales{
					padding: .75rem 2rem;
					border: 2px solid $brand-blue;
					background: $brand-blue;
					position:relative;
					overflow: hidden;
					cursor: pointer;

					&::before{
						content: "";
						background: white;
						position: absolute;
						transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);

						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
					}
					&:hover{
						border-color: white;
						span{
							color: white;
						}
						&::before{
							transform: translate3d(0,-103%,0);
						}
					}
					span{
						color: $brand-blue;
						position: relative;
					}
				}
				.overlay-menu{
					display: none;
				}
				&.scrolled{
					position: fixed;
					width: 100%;
					background: white;
				}
			}
			&-content{
				section{
					background: white;
					h1.heading{
						font-size: 2.5rem;
						span{
							color: $brand-blue;
						}
						&.invert span{
							color: $brand-blue-dark;
						}
					}
				}
				.banner{
					height: 100vh;
					background-image: url("/images/banner_bg.png");
					background-repeat: no-repeat;
					background-size: cover;
					display: flex;
					justify-content: space-between;
					&-text{
						flex: 3;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						.text{
							width: 70%;
							background: white;
						}
						&-title{
							padding: 10rem 0 2rem;
							font-size: 3rem;
							margin-bottom: 0;
						}
						&-subtitle{
							margin-top: 0;
							font-size: 1.25rem;
							font-weight: lighter;
						}
					}
					&-mgm{
						flex: 2;
						position: relative;
						img{
							height: 100%;
							width: 100%;
							opacity: 0.5;
						}
						&-canvas{
							width: 100%;
							height: 100%;
							right: 0;
							z-index: 2;
							position: absolute;
						}
					}
				}
				.company-keypoints{
					min-height: 100vh;
					padding-top: 60px;
					padding: 60px 0;
					&-title{
						text-align: center;
						font-size: 2.5rem;
					}
					&-perks{
						display: flex;
						flex-direction: column;
						margin: 0 75px;
						&-perk{
							display: flex;
							justify-content: center;
							align-items: center;
							.perk-animation{
								// flex: 2;
								height: 300px;
								width: 300px;
							}
							.perk-description{
								// flex: 3;
								// margin-right: 50px;
								width: 50%;
								&-title{
									color: $brand-blue;
									font-size: 2.25rem;
									margin-bottom: 1.75rem;
								}
								&-text{
									font-size: 1.2rem;
									font-weight: lighter;
								}
							}
						}
					}
				}
				.team{
					display: flex;
					flex-direction: column;
					padding: 60px 0;
					&-heading{
						font-size: 3rem;
						text-align: center;
						margin-bottom: 50px;
						span{
							color: $brand-blue;
						}
					}
					.team-row{
						display: flex;
						justify-content: center;
						flex-wrap: wrap;
						.team-member{
							position: relative;
							margin: 0;
							margin: 15px;
							padding: 3px;
							&-dp{
								width: 400px;
								height: 400px;
								overflow: hidden;
								img{
									width: 100%;
									min-height: 100%;
								}
							}
							&-name{
								position: absolute;
								bottom: 0;
								right: -14px;
								font-size: 1.8rem;
								font-weight: 100;
								color: $brand-blue;
								background: white;
								padding: 5px;
								margin-bottom: 14px;
								border: solid 1px black;
							}
							figcaption{
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								opacity: 0;
								background-color: $brand-blue-dark;
								transition: all .2s ease-in-out;
								padding: 35px 20px 20px;
								color: white;

								.person-title{
									color: $brand-negative;
									text-align: center;
									font-weight: 100;
									&-name{
										font-size: 1.6rem;
										margin: 0;
									}
									&-role{
										margin-top: 0;
									}
								}
								.person-description{
									margin: 0;
									font-weight: 100;
									text-align: justify;
									overflow-wrap: anywhere;

									.connect-linkedin{
										position: absolute;
										bottom: 0;
										right: 0;
										width: 45px;
										height: 45px;
									}
								}
							}
							&:hover{
								figcaption{
									opacity: 1;
									transform: translate(15px, 15px);
								}
							}
						}
					}
				}
				.partners{
					background: white;
					padding: 60px 0 80px;
					text-align: center;
					&-heading{
						font-size: 2.5rem;
						margin-bottom: 4rem;
					}
					&-links{
						display: flex;
						justify-content: center;
						margin: 0 250px;
						flex-wrap: wrap;
						a{
							display: flex;
							align-items: center;
							margin: 10px ;
							img{
								max-height: 80px;
								width: auto;
							}
						}
					}
				}
				.tryDemo{
					background: $brand-blue;
					height: 300px;
					display: flex;
					align-items: center;
					justify-content: center;
					
					h1.tryDemo-heading.invert{
						color: white;
						font-size: 2.5rem;
						display: flex;
						align-items: center;

						&>span{
							margin: 0 15px;
						}

						button{
							cursor: pointer;
							font-size: 1.3rem;
							padding: 20px 25px;
							border: none;
							outline: none;
							position: relative;
							background: white;
							overflow: hidden;
							border: 2px solid $brand-blue-dark;
							margin-left: 1rem;

							&::before{
								content: '';
								background: $brand-blue-dark;
								transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);

								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
							}
							&:hover::before{
								transform: translate3d(0,-100%,0);
							}

							span{
								color: white;
								position: relative;
								mix-blend-mode: difference;
							}
						}
					}
				}
			}
			&-footer{
				background: $brand-blue-dark;
				padding: 60px 0 0;
				&-content{
					display: flex;
					.social{
						display: flex;
						flex: 1;
						justify-content: center;
						.footer-logo{
							display: flex;
							flex-direction: column;
							justify-content: center;
							color: white;
							align-items: center;

							img{
								width: 75px;
							}
							span{
								letter-spacing: 7px;
								font-weight: 100;
								margin: 9px 0;
								font-size: 10px;
								padding-left: 8px;
							}

						}
						&-links{
							p{
								margin: 0;
								border-bottom: 2px solid white;
								padding: 5px 50px 3px 5px;
								margin-bottom: 5px;
							}
							&-group{
								display: flex;
								justify-content: center;
								align-items: center;
	
								a {
									flex: 1;
									display: flex;
									justify-content: center;
	
									svg{
										height:30px;
										path{
											fill: white;
										}
									}
									&:first-child{
										svg{
											height: 45px;
											path:first-child{
												fill: transparent;
											}
										}
									}
								}
							}
						}
					}
					.link-container{
						flex: .5;
						padding-left: 20rem;
						font-weight: 100;
						&>div{
							display: flex;
							flex-direction: column;
							a{
								color: white;
								text-decoration: none;
								margin-bottom: 10px;
								&:hover{
									color: $brand-blue;
								}
							}
						}
					}
					.newsletter{
						display: block;
						flex: 1.5;
						position: relative;
						font-weight: 100;

						div{
							display: flex;
							width: 70%;
							display: flex;
							flex-direction: row;
							height: fit-content;
							&>div{
								position: absolute;
								bottom: 0;
								a{ // mailchimp link; i dont want to show that now; only status msges
									display: none;
								}
							}
							input{
								height: 50px;
								flex: 1;
								outline: none;
								padding-left: 1rem;
								font-size: 1rem;
								&::placeholder{
									font-weight: 100;
								}
							}
							button{
								background: $brand-blue;
								color: white;
								cursor: pointer;
								border-top-right-radius: .25rem;
								border-bottom-right-radius: .25rem;
								padding: 0 25px;
								transition: .15s ease background;
								&:hover{
									background: $brand-negative;
								}
							}
							&>*{
								border: none;
								border-radius: none;
							}
						}
					}
					&>div p{
						color: white;
						margin: 0 0 20px;
						font-size: 1.25rem;
						font-weight: normal;
					}
				}
				&-foot{
					padding: 60px 0 30px;
					text-align: center;
					font-size: 12px;
					color: white;
					font-weight: 100;
					
					display: flex;
					justify-content: space-evenly;
				}
			}
		}
		/* The Modal (background) */
		.modal {
			display: none; /* Hidden by default */
			position: fixed; /* Stay in place */
			z-index: 20; /* Sit on top */
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

			&.active{
				display: block;
			}

			/* Modal Content/Box */
			.modal-content {
				background-color: #fefefe;
				margin: 5% auto; /* 15% from the top and centered */
				border: 1px solid #888;
				width: 80%;
				position: relative;
				display: flex;
				height: auto;

				.intro{
					flex: 1;
					padding: 15px;
					background: black;
					background-image: url("/images/banner_bg.png");
					background-repeat: no-repeat;
					background-size: cover;
					p{
						&.brand-title{
							font-size: 2rem;
							font-weight: bold;
							span{
								color: $brand-blue;
							}
						}
						&.content{
							font-size: 1rem;
							text-shadow: 0 0 6px white;
							font-weight: 100;
						}
					}
				}

				.form-container{
					flex: 2;
					padding: 15px;
					p{
						&.heading{
							font-size: 1.75rem;

							sup{
								font-size: 100;
								font-size: 1rem;
							}
						}
					}
					.modal-form{
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						input,select,textarea{
							width: 90%;
							height: 40px;
							min-height: 40px;
							margin: 10px 0;
							font-weight: 100;


							&::placeholder{
								font-weight: 100;
							}
						}
						textarea{
							height: 100px;
						}
						button{
							cursor: pointer;
							height: 50px;
							width: 90%;
							outline: none;
							color: white;
							border: 2px solid $brand-blue-dark;
							background: $brand-blue;
							margin-bottom: 40px;
						}
					}

				}
			}

			/* The Close Button */
			.close {
				color: #aaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
				position: absolute;
				right: 15px;
				top: 10px;			
			}

			.close:hover,
			.close:focus {
				color: black;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	&.night{
		filter: invert(1);
		.team,.partners{
			img{
				filter: invert(1);
			}
		}
		.partners{
			&-links{
				a{
					background: black;
				}
			}
		}
	}
}

