@import "./variables.scss";

// mobile view
@media only screen and (max-width: 766px){
    html{
        body{
            &.menu-active{
                height: 100vh;
                overflow: hidden;
            }
            .page{
                &-header{
                    .menu_toggle{
                        display: block;
                        position: absolute;
                        width: 25px;
                        height: 20px;
                        background: transparent;
                        border: none;
                        outline: none;
                        border-top: 3px solid;
                        border-bottom: 3px solid;
                        color: $brand-blue;
                        font-size: 0;
                        transition: all .25s ease-in-out;
                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            width: 99%;
                            height: 3px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background: currentColor;
                            transform: translate(-50%, -50%);
                            transition: transform .25s ease-in-out;
                        } 
                    };
                    .menu_toggle.is_active{
                        border-color: transparent;
                        &:before {
                            transform: translate(-50%, -50%) rotate(45deg);
                        }

                        &:after {
                            transform: translate(-50%, -50%) rotate(-45deg);
                        }
                    }
                    .logo-container{
                        flex: 0 0 100%;
                    }
                    .navlist{
                        display: none;
                    }
                    .action-buttons{
                        .mode-changer{
                            position: absolute;
                            right: 5%;
                            .mode-changer-icon{
                                svg{
                                    height: 35px;
                                    width: 35px;
                                }
                            }
                        }
                        .sales{
                            display: none;
                        }
                    }
                    .overlay-menu{
                        position: absolute;
                        left: 0;
                        top: -700px;
                        background: rgba(0,0,0,.9);
                        width: 100%;
                        max-height: 0vh;
                        height: 0;
                        opacity: 0;
                        transition: all .4s ease-in-out;
                        display: flex;
                        padding-left: 30px;
                        align-content: center;

                        .mobile-menu{
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            font-size: 2rem;
                            opacity: 0;
                            &-item{
                                margin: 1rem 0;
                                a{
                                    color: white;
                                    text-decoration: none;
                                    &:hover{
                                        color: $brand-blue;
                                    }
                                }
                                .sales{
                                    width: 65vw;
                                }
                            }
                        }

                        &.is_active{
                            opacity: 1;
                            height: 92vh;
                            max-height: inherit;
                            top: 70px;
                            .mobile-menu{
                                opacity: 1;
                            }
                        }
                        
                    }
                }
                &-content{
                    section{
                        h1.heading {
                            font-size: 1.75rem;
                        }
                    }
                    .banner{
                        position: relative;
                        overflow: hidden;
                        &-text{
                            z-index: 1;
                            .text{
                                background: transparent;
                                text-align: center;
                                text-shadow: -4px 0 10px white;
                            }
                            &-title{
                                padding: 0 0 2rem;
                                margin: 0;
                                font-size: 2.25rem;
                            }
                            &-subtitle{
                                font-weight: 400;
                                font-size: 1.3rem;
                                
                                text-shadow: 3px 3px 10px whitesmoke;
                            }
                        }
                        &-mgm{
                            flex: none;
                            display: block;
                            position: absolute;
                            transform: rotate(90deg);
                            width: auto;
                            top: 42vh;
                            left: 25vw;
                            img{
                                filter: invert(100%) brightness(.7);
                            }
                            &-canvas{
                                display: none;
                            }
                        }

                    }
                    .company-keypoints{
                        .heading{
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                        &-perks{
                            margin: 0 35px;
                            &-perk{
                                flex-direction: column;
                                .perk-description{
                                    width: 100%;
                                }
                                &:nth-child(2){
                                    .perk-description{
                                        order: 2;
                                    }
                                }
                            }
                        }
                    }
                    .team{
                        flex-direction: row;
                        flex-wrap: wrap;
                        padding: 30px 0;
                        &-heading{
                            flex: 0 0 100%;
                            margin-bottom: 1.5rem;
                        }
                        .team-row{
                            flex: 1;
                            flex-wrap: wrap;
                            flex-direction: column;
                            height: fit-content;
                            width: min-content;
                            .team-member{
                                margin: 5px 0;
                                height: 100vw;
                                &-dp{
                                    width: 100%;
                                    height: auto;
                                }
                                &-name{
                                    margin: 0 0 5px;
                                    font-size: 1.15rem;
                                    right: 0;
                                }
                                figcaption{
                                    padding: 15px 5px;
                                    .person-title{
                                        &-name{
                                            font-size: 1.4rem;
                                            margin-bottom: .5rem;
                                        }
                                        &-role{
                                            font-size: 1rem;
                                        }
                                    }
                                    .person-description{
                                        font-size: 1.1rem;
                                        padding: 0 25px;                                    
                                    }
                                }
                                &:hover{
                                    figcaption{
                                        transform: none;
                                    }
                                }
                            }
                        }
                    }
                    .partners{
                        padding: 30px 0;
                        .heading{
                            margin-bottom: 1.5rem;
                        }
                        &-links{
                            margin: 0 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            a{
                                margin: 12.5px 3px;
                                display: flex;
                                justify-content: center;
                                img{
                                    max-height: 50px;
                                }
                            }
                        }
                    }
                    .tryDemo{
                        height: 260px;
                        h1.tryDemo-heading.invert{
                            display: inline-block;
                            text-align: center;
                            font-size: 1.5rem;
                            &>span{
                                margin: 0 5px;
                            }
                            a{
                                display: block;
                                margin-top: 10px;
                            }
                            button{
                                margin-left: 0;
                                margin-top: 1rem;
                            }
                        }
                    }
                }
                &-footer{
                    padding: 30px 0 0;
                    &-content{
                        flex-wrap: wrap;
                        .social{
                            flex: 0 0 100%;
                            .footer-logo{
                                img{
                                    width: 50px;
                                }
                                .social-links{
                                    p{
                                        padding: 0;
                                        font-size: .75rem;
                                        text-align: center;
                                        border-bottom: 1px solid;
                                    }
                                    &-group{
                                        a{
                                            svg{
                                                height: 17.5px;
                                            }
                                            &:first-child{
                                                svg{
                                                    height: 30px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .link-container{
                            margin-top: 20px;
                            padding: 0;
                            text-align: center;
                            flex: 1;
                        }
                        .newsletter{
                            margin-top: 20px;
                            flex: 1;
                            flex-direction: column;
                            padding-right: 1rem;

                            div{
                                width: 100%;
                                input{
                                    width: 33%;
                                    height: 25px;
                                }
                                button{
                                    padding: 0px 10px;
                                }
                            }
                        }
                    }
                    &-foot{
                        padding-top: 30px;
                    }
                }
            }
            .modal{
                .modal-content{
                    flex-direction: column;
                    width: 95%;
                    margin: 2%;
                    .intro{
                        padding: 5px;
                        p{
                            &.brand-title{
                                font-size: 1.5rem;
                            }
                            margin: 5px 0;
                        }
                    }
                    .form-container{
                        padding: 0 5px;
                        p{
                            &.heading{
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }

}

//Tab view
@media only screen and (min-width : 767px) and (max-width:1050px) {
    html{
        body{
            .page{
                &-header{
                    padding: .5rem;
                    .navlist{
                        font-size: 1rem;
                        &-item{
                            padding: 0 1.5rem;
                        }
                    }
                    .action-buttons{
                        flex: 3 1;
                    }
                }
                &-content{
                    .banner{
                        position: relative;
                        overflow: hidden;
                        &-text{
                            z-index: 1;
                            .text{
                                background: transparent;
                                text-align: center;
                                text-shadow: -4px 0 10px white;
                            }
                            &-title{
                                padding: 0 0 2rem;
                                margin: 0;
                                font-size: 3rem;
                            }
                            &-subtitle{
                                font-weight: 400;
                                font-size: 1.5rem;
                                text-decoration: underline;
                            }
                        }
                        &-mgm{
                            flex: none;
                            display: block;
                            position: absolute;
                            transform: rotate(90deg);
                            width: auto;
                            top: 35vh;
                            left: 25vw;
                            // &-canvas{
                            //     display: none;
                            // }
                        }

                    }
                    .company-keypoints{
                        height: auto;

                    }
                    .team{
                        .team-row{
                            .team-member{
                                &-dp{
                                    width: 220px;
                                    height: 220px;
                                }
                                &-name{
                                    font-size: 1.25rem;
                                }
                                figcaption{
                                    padding: 20px;
                                    overflow-y: scroll;
                                    .person-title{
                                        &-name{
                                            font-size: 1.15rem;
                                        }
                                        &-role{
                                            font-size: .8rem;
                                        }
                                    }
                                    .person-description{
                                        font-size: .65rem;
                                    }
                                }
                            }
                        }
                    }
                    .partners{
                        &-links{
                            margin: 0;
                        }
                    }
                    .tryDemo{
                        h1.tryDemo-heading.invert{
                            display: inline-block;
                            text-align: center;
                            &>span{
                                margin: 0 10px;
                            }
                        }
                    }
                }
                &-footer{
                    &-content{
                        .link-container{
                            padding-left: 2rem;
                        }
                        .newsletter{
                            flex: 1;
                        }
                    }
                }
            }
        }
    }
}

// xl screen
@media only screen  and (min-width : 1550px) {
    html{
        body{
            .page{
                &-header{
                    height: 10%;
                    .logo-container{
                        height: -webkit-fill-available;
                        height: fill-available;
                        .logo{
                            height: 4rem;
                        }
                    }
                    .navlist{
                        font-size: 1.35rem;
                    }
                    .action-buttons{
                        .mode-changer{
                            flex: 0;
                            margin-right: 1rem;
                            svg{
                                width: 60px;
                                height: 60px;
                            }
                        }
                        .sales{
                            padding: 1rem 2.2rem;
                            font-size: 1.25rem;
                        }
                    }
                }
                &-content{
                    section{
                        h1.heading{
                            font-size: 3.25rem;
                        }
                    }
                    .banner{
                        &-banner-text{
                            &-title{
                                font-size: 3.5rem;
                            }
                            &-subtitle{
                                font-size: 1.4rem;
                            }
                        }
                    }
                    .company-keypoints-perks{
                        &-perk{
                            .perk-description{
                                &-title{
                                    font-size: 2.75rem;
                                }
                                &-text{
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                    .team{
                        .team-row{
                            padding: 0 10%;
                            .team-member{
                                &-dp{
                                    width: 450px;
                                    height: 450px;
                                }
                                figcaption{
                                    .person-title-name{
                                        font-size: 2rem;
                                    }
                                    .person-title-role{
                                        font-size: 1.25rem;
                                    }
                                    .person-description{
                                        font-size: 1.1rem;
                                    }
                                }
                            }
                        }
                    }
                    .tryDemo{
                        height: 375px;
                    }
                }
            }
        }
    }
}